anndata==0.12.7
h5py==3.14.0
matplotlib==3.10.8
networkx==3.5
numpy==2.5.3
openpyxl==3.1.5
pandas==2.3.3
phate==1.0.11
Pillow==11.3.0
pyarrow==22.0.0
platformdirs==4.4.0
psutil==7.0.0
pyliftover==0.4.1
pooch==1.9.0
pyvista==0.49.0
pyvista-validation==0.2.2
pypdf==6.10.0
PyYAML==6.0.3
requests==2.32.5
scooby==0.11.0
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
statsmodels==0.14.6
umap-learn==0.5.9.post2
vtk==9.7.0
pytest==8.4.2
